

/*.contimgfon {
    background: linear-gradient( rgba(70, 171, 202, 0.3), rgba(70, 171, 202, 0.3) ), url(/Users/agustinalonso/Pictures/INFO/criptofondo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}*/

.contimgfon {
    background: linear-gradient( rgba(247, 183, 51, 0.3), rgba(247, 183, 51, 0.3) ), url(/Users/agustinalonso/Pictures/INFO/criptofondo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav {
    background-color: #46abca;
}

.nav__li {
    display: inline-block;
    padding: 15px;
}

.nav__li:hover > a {
color: black;
}

.nav__li i {
    width: 30px;
    text-align: right;
    margin-right: 5px;
    color: #f7b733;
    box-sizing: border-box;
}

.nav__li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.firts__ h1 {
    text-align: center;
    font-size: 5em;
    color: black;
    font-weight: 400;
    font-family: 'Monoton', cursive;
}

.finish__ li {
    display:  inline-block;
    padding: 10px;
    margin: 7px;
}

.finish__ p {
    color: white;
}

.finish__ h6, h5 {
    color: white;
}

.finish__ {
    background: black;
    opacity: .7;
    margin-top: 10pxw;
}

.finish__ i {
    color: #46abca;
}

.finish__ a {
    text-decoration: none;
    color: white;
}

.finish__ll:hover a {
    color: #46abca;
}
