

.contimgfon {
    background: linear-gradient( rgba(70, 171, 202, 0.4), rgba(70, 171, 202, 0.4) ), url(INFO/fondo2.png);
    background-size: cover ;
    background-position: center;
    position: relative;
}

/*.contimgfon {
    background: linear-gradient( rgba(247, 183, 51, 0.7), rgba(247, 183, 51, 0.7) ), url(/Users/agustinalonso/Pictures/INFO/fondo2.png);
    background-size: cover ;
    background-position: center;
    position: relative;
}*/

.contimgfontra {
    background: linear-gradient( rgba(70, 171, 202, 0.5), rgba(70, 171, 202, 0.5) ), url(INFO/fondo2.png);
    background-size: cover;
    position: relative;
}

/*.contimgfontra {
    background: linear-gradient( rgba(247, 183, 51, 0.7), rgba(247, 183, 51, 0.7) ), url(/Users/agustinalonso/Pictures/INFO/fondo2.png);
    background-size: cover;
    position: relative;
}*/

.contimgfontip {
    background: linear-gradient( rgba(70, 171, 202, 0.5), rgba(70, 171, 202, 0.5) ), url(INFO/fondo2.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

/*.contimgfontip {
    background: linear-gradient( rgba(247, 183, 51, 0.7), rgba(247, 183, 51, 0.7) ), url(/Users/agustinalonso/Pictures/INFO/fondo2.png);
    background-size: cover;
    position: relative;
}*/


/*.contimgfon {
    background-color: rgba(247, 183, 51, 0.3);
}*/

/*.contimgfontra {
    background-color: rgba(247, 183, 51, 0.3);
}*/

.nav {
    background-color: black;
    opacity: .8;
}

.nav__li {
    display: inline-block;
    padding: 15px;
}

.nav__li:hover > a {
color: #f7b733;
}

.nav__li i {
    width: 30px;
    text-align: right;
    margin-right: 5px;
    color: #f7b733;
    box-sizing: border-box;
}

.nav__li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.firts__ h1 {
    text-align: center;
    font-size: 6em;
    color: #f7b733;
    font-weight: 600;
    font-family: 'Bungee Shade', cursive;
}

.finish__ li {
    display:  inline-block;
    padding: 10px;
    margin: 7px;
}

.finish__ p {
    color: white;
}

.finish__h {
    color: white;
    margin-left: -35px;
}

.finish__h-h {
    color: white;
}

.finish__ {
    background: black;
    opacity: .7;
    margin-top: 20px;
}

.finish__ i {
    color: #46abca;
}

.finish__ a {
    text-decoration: none;
    color: white;
}

.finish__ll:hover a {
    color: #46abca;
}

.finish {
    width: 100%;
    bottom: 0px;
}

textarea {
    overflow: scroll;
    resize: none;  
    background-color: transparent; 
    border: 0px solid ;
    width: 600px;
    height: 200px;
    padding: 5px 0px 0px 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(28, 40px);
    text-align: center;
    padding: 15px;
    color: white;
    margin-left: 70px;
    margin-right: 70px;
}

.grid-item {
    border: 1px solid white;
    margin: 0.5px;
    padding-top: 7px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
}

/*.formularioc {
    background: url(/Users/agustinalonso/Pictures/INFO/contacto.png);
    background-size:400px;
    background-repeat: no-repeat;
    margin-top: 20px;
}*/

.inp__ {
    background-color: transparent;
    margin: 3px 5px 20px 15px;
    border: 0px solid;
    width: 250px;
    border-bottom: 2px solid #ffe054;
}

.form__contain {
    background: url(INFO/contacto.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    height: 400px;
    width: 640px;
    margin-top: 30px;
    opacity: .8;
}

#form__men {
    font-size: 25px;
}

#butt {
    margin-top: 10px;
    padding: 10px 60px 10px 60px;
    margin-left: 230px;
    background-color: #f7b733;
    color: white;
    border: 1px solid white;
}

#butt:hover {
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
}

/*.form__list {
    margin-top:;
}*/

#title {
    font-size: 25px;
    margin-left: 5px;
    padding-top: 5px;
    color: #f7b733;
    font-family: 'Bungee Hairline', cursive;
}

.form__list {
    list-style: none;
}

.imag__ {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px 30px 30px 30px;
    border: 3px double white;
}

.imag__contain {
    text-align: center;
}

.title__info {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #f7b733;
    font-family: 'Londrina Shadow', cursive;
}

.info__ {
    padding: 30px;
    margin-top: 50px;
    margin-left: 360px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
    display: inline-block;
}

.info__ p {
    margin: 10px 0px 20px 0px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #46abca;
    font-size: 30px;
}

#info__til {
    font-weight: 900;
    font-size: 40px
}

.firts__h {
padding: 20px 0px 25px 50px;
font-size: 30px; 
font-family: 'Roboto Mono', monospace;
color: white;
background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) );
margin: 0px 20px 0px 20px;
}

.firts__par {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: white;
    padding: 15px 150px 20px 50px;
    background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) );
    margin: 0px 20px 0px 20px;
}

.gal__title {
font-size: 30px; 
font-family: 'Londrina Shadow', cursive;
color: white;
background: linear-gradient( rgba(255, 228, 109, 0), rgba(0, 0, 0, .4) );
padding: 15px;
margin-right: 35em;
margin-left: 50px;
margin-top: -110px;
border: 3px double #f7b733;
position: absolute;
text-align: center;
}

.gal__contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 150px 50px 20px 50px;
}

.gal__contain img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px double #f7b733;
}

.gal__contain img:first-child {
    grid-column: span 3;
    grid-row: span 2;
    height: 600px;
    order: -1;
}

.gal__contain img:nth-child(8) {
    grid-column: span 4;
    grid-row: span 2;
    height: 600px;
    order: 0;
}

#finishgpu {
    position: fixed;
    bottom: 0;
}